﻿@model MCAP.RateCalculator.CLIENT.Models.View.SupportInformationViewModel

<div class="jumbotron col-md-7">
    <h1> @Html.LabelFor(model => model.m_BestRate) = <bold>@Html.Encode(@Model.m_BestRate)</bold></h1>
</div>
