﻿@model MCAP.RateCalculator.CLIENT.Models.View.SupportInformationViewModel

@{
    ViewBag.Title = "MCAP - Rate Calculator";
    var calendarMinDate = @Model.m_StartDate.ToString("yyyy-MM-dd");
    var calendarMaxDate = @Model.m_EndDate.ToString("yyyy-MM-dd");
    var calendarMinEndDate = @Model.m_MinEndDate.ToString("yyyy-MM-dd");
}
<h2>Rate Calculator</h2>

@using (Html.BeginForm("Search", "Home"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Get a quote based on the combination of Product, Program and Date Range</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.m_Products, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.m_SelectedProduct, new SelectList(Model.m_Products, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Product" })
                @Html.ValidationMessageFor(model => model.m_SelectedProduct, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.m_Programs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownListFor(model => model.m_SelectedProgram, new SelectList(Model.m_Programs, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Program" })
                @Html.ValidationMessageFor(model => model.m_SelectedProgram, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.m_StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.m_SelectedStartDate, new { htmlAttributes = new { @class = "startdatepicker form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.m_SelectedStartDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => Model.m_EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.m_SelectedEndDate, new { htmlAttributes = new { @class = "enddatepicker form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.m_SelectedEndDate, "" , new { @class = "text-danger" })
                <div id="invalidDateRangeDiv" class="text-danger" style="display: none">The End Date has to be greater than the Start Date</div>
            </div>
        </div>
        @if (Model.m_HasBestRate)
        {
            <div class="form-group">
                @{ Html.RenderPartial("_BestRate", @Model); }
            </div>
        }
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submitButton" type="submit" value="Search Rates" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/momentjs")

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(function () {
            $(".startdatepicker").datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    minDate: new Date('@Html.Raw(calendarMinDate)'),
                    maxDate: new Date('@Html.Raw(calendarMaxDate)'),
                    defaultDate: new Date('@Html.Raw(calendarMinDate)'),
                    numberOfMonths: 3
                });

            $(".enddatepicker").datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    minDate: new Date('@Html.Raw(calendarMinEndDate)'),
                    maxDate: new Date('@Html.Raw(calendarMaxDate)'),
                    defaultDate: new Date('@Html.Raw(calendarMinDate)'),
                    numberOfMonths: 3
                });

            $(".enddatepicker, .startdatepicker").change(function() {

                var startDate = moment($(".startdatepicker").val(), "DD/MM/YYYY");
                var endDate = moment($(".enddatepicker").val(), "DD/MM/YYYY");

                if (endDate <= startDate) {
                    $("#invalidDateRangeDiv").removeAttr("style");
                    $("#submitButton").attr('disabled', 'disabled');
                } else {
                    $("#invalidDateRangeDiv").attr("style", "none").hide();
                    $("#submitButton").removeAttr("disabled");
                }
            });
        });
    </script>
}
